// Site layout: main content full page for mobile/tablet

body {
  background: white;
  color: #565656;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  position: relative;
}