<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="creative agency,personal portfolio" name="description">
    <meta content="Pamukovich" name="author">
    <title>Apper Landing Page / CSS Template,Clean and creative design</title>
    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/fontawesome.css" rel="stylesheet" media="screen">
    <!-- Owl Carousel Assets -->
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <!-- Magnific Popup core CSS file -->
    <link href="css/magnific-popup.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
    <link href="css/animate.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,400italic' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<body>
<!-- Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- /.Loader -->
<header id="header">
    <div class="navwrap">
        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="index.html">
                        <img src="images/logo.png" alt="LOGO" class="img-responsive">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav" id="top-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#go-home">Home</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#intro">Intro</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#tabbed">Features</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">About</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#pricing">Pricing</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extras
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="blog-single.html">Blog Post</a>
                                </li>
                                <li class="">
                                    <a href="elements.html">Elements</a>
                                </li>
                            </ul>
                        </li>
                        <li class="page-scroll">
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
    <!-- /.navwrap -->
</header>

<!-- start featured -->
<section id="go-home" class="featured pattern-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 wow fadeInUp featured-img featured-inner" data-wow-delay="0.4s">
                <div id="main-carousel" class="owl-carousel owl-theme quote-theme">
                    <div class="item">
                        <div class="row">
                            <div class="intro text-center col-sm-12">
                                <h3>Landing page for softwares <br/> and mobile apps that really works</h3>
                                <p><a href="#" class="btn btn-border-white btn-radius"><i class="fa fa-tablet fa-lg"></i> App store</a>  <a href="#" class="btn btn-border-white btn-radius"><i class="fa fa-play"></i> Google play</a>
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <img src="images/web-app-banner.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                        <!-- /.inner row -->
                    </div>
                    <!-- /.item -->
                    <div class="item">
                        <div class="row">
                            <div class="intro text-center col-sm-12">
                                <h3>Landing page for softwares <br/> and mobile apps that really works</h3>
                                <p><a href="#" class="btn btn-border-white btn-radius"><i class="fa fa-tablet fa-lg"></i> App store</a>  <a href="#" class="btn btn-border-white btn-radius"><i class="fa fa-play"></i> Google play</a>
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <img src="images/web-app-banner.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                        <!-- /.inner row -->
                    </div>
                    <!-- /.item -->
                </div>
                <!-- /.carousel -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- end featured -->

<div id="wrapper">
    <section class="space" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="hr-after">Pad vis autem elaboraret,<strong> duo utamur partiendo</strong>
                        ad vis autem elaboraret. Ad duo utamur partiendo
                        elaboraret</h1>
                    <ul class="list-inline">
                        <li>WEB</li>
                        <li>• UI/UX</li>
                        <li>• WORDPRESS</li>
                    </ul>
                    <div class="row">
                        <div class="divide30"></div>
                        <!-- /.add some space -->
                        <div class="col-sm-6">
                            <div class="expertises come-in" data-ui="animated">
                                <div class="expertise">
                                    <h3><a href="#">Pro id velit persius consequuntur</a></h3>
                                    <p><a href="#">Vix cu nostrud tibique facilisis. Eu est fugit minim salutandi, has feugiat aliquando ne.</a>
                                    </p>
                                </div>
                                <!-- /.expertise item -->
                                <div class="expertise">
                                    <h3><a href="#">Eu est fugit minim salutandi</a></h3>
                                    <p><a href="#">Pro id velit persius consequuntur, no usu summo possit salutandi. </a>
                                    </p>
                                </div>
                                <!-- /.expertise item -->
                                <div class="expertise">
                                    <h3><a href="#">Technologie et développement</a></h3>
                                    <p><a href="#">Ius laudem mnesarchum cu, sint brute dicit ex vim. Ignota detracto elaboraret no mel..</a>
                                    </p>
                                </div>
                                <!-- /.expertise item -->
                            </div>
                            <!-- /.expertise -->
                        </div>
                        <!-- /.left col -->
                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="divide30"></div>
                            <ul class="expertise list-unstyled">
                                <li>Identité visuelle</li>
                                <li>Direction artistique</li>
                                <li>UI/UX Design</li>
                                <li>Web design</li>
                                <li>Papeterie</li>
                            </ul>
                            <!-- /.expertise list -->
                        </div>
                        <!-- /.col 4 -->
                    </div>
                    <!-- /.inner row -->
                </div>
                <!-- /.col  -->
                <div class="col-sm-4">
                    <figure>
                        <img src="http://lorempixel.com/670/1000/people" class="img-responsive" alt="">
                    </figure>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <section id="tabbed" class="space-pb-0 bg-dark tabbed-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 wow bounceInDown animated text-center" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation: bounceInDown 0.5s;">
                    <h5>WHAT CAN I DO WITH APPER?</h5>
                    <h2>How can apper help you in your business?</h2>
                </div>
                <div class="divide30"></div>
                <div class="col-sm-12 wow bounceIn animated" data-wow-delay="1s" style="visibility: visible; -webkit-animation: bounceIn 1s;">
                    <ul class="nav nav-pills nav-justified" role="tablist" id="learnTabs">
                        <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">I'm tab one</a>
                        </li>
                        <li class=""><a href="#tab-2" role="tab" data-toggle="tab">I'm tab two</a>
                        </li>
                        <li class=""><a href="#tab-3" role="tab" data-toggle="tab">Another tab here</a>
                        </li>
                        <li class=""><a href="#tab-4" role="tab" data-toggle="tab">And thats it !</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content wow bounceInUp animated" data-wow-delay="1s" style="visibility: visible; -webkit-animation: bounceInUp 1s;">
                        <div class="tab-pane active" id="tab-1">
                            <div class="col-sm-6">
                                <h5>Vis quaeque explicari intellegebat eu. Cum torquatos accommodare.</h5>
                                <p>Ius laudem mnesarchum cu, sint brute dicit ex vim. Ignota detracto elaboraret no mel, mea idque dictas laboramus eu, ad pro dictas alterum. Vix cu nostrud tibique facilisis. Eu est fugit minim salutandi, has feugiat aliquando ne. Nullam essent nam ei, eum eu laudem accusamus conclusionemque..</p>
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li>
                                        <h6>Quo no case fastidii invidunt, virtute legimus invidunt sea ne.</h6>
                                        <p>Nec malis legimus inciderint ut, alterum interesset per at. Nam sumo aliquid saperet ne, ad vis autem elaboraret. Ad duo utamur partiendo. Vis ei alii impetus.</p>
                                    </li>
                                    <li>
                                        <h6>Ralterum interesset per at. Nam sumo aliquid saperet</h6>
                                        <p>Pro id velit persius consequuntur, no usu summo possit salutandi. Oratio tamquam periculis mei an, paulo detracto ne vix.</p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="col-sm-6">
                                <h5>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante.</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li>
                                        <h6>Quisque cursus, metus vitae pharetra auctor</h6>
                                        <p>Get alerts on the goals you customize so you can stop checking Google Analytics every minute and focus on making money.</p>
                                    </li>
                                    <li>
                                        <h6>Mauris massa. Vestibulum lacinia</h6>
                                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi lacinia molestie dui.</p>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="col-sm-6">
                                <h5>In mihi, illo quae iam *veneni*, per tenuique iussit crevit stant. Convivia reponit, Thessala Tenedonque si et quam aniles.</h5>
                                <p>Copia esse dubita: sua picto multis, nec, se **tum moratur quid**: fracta.
                                    Caesariem quantumque pellor! Relictis et Iunone moderamine illud flamma Caesarisfacundia artus regia tamen tremendos Ancaeo.</p>
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li>
                                        <h6>Morbi in dui quis est pulvinar ullamcorper</h6>
                                        <p>Many small businesses aren't familiar enough website analytics to make big decisions. Voodoo Alerts makes analytics personal and customizable, packaged on a platform that's much less intimidating for small business owners.</p>
                                    </li>
                                    <li>
                                        <h6>In vel mi sit amet augue congue elementum</h6>
                                        <p>Why spend money on an entire web design team if you only have a small website? We'll tell you which pages are best compelling your visitors to buy your product or service, and alert you personally when a problem needs addressing.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="col-sm-6">
                                <h5>Needless to say it’s very important, content is king and people are beginning to understand that.</h5>
                                <p>In an ideal world this website wouldn’t exist, a client would acknowledge the importance of having web copy before the design starts.</p>
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li>
                                        <h6>Fallen eyebrow brad pitt Nostrilis tickler man markings success</h6>
                                        <p>Frightfully nice driving gloves facial accessory got milk circus strongman comb smashing good fun trimmed, comb smashing good fun facial accessory um yesbaby got milk frightfully nice.</p>
                                    </li>
                                    <li>
                                        <h6>Glorious facial hair ian rush saddam hussein what a bounder. </h6>
                                        <p>Frightfully nice burt reynolds brandy, burt reynolds cigars Leonine leslie phillips clive dunn omar sharif nigel mansell 118 118 frightfully nice .</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="single-feature pad-t-90">
        <div class="container">
            <div class="col-sm-6">
                <h6>SINGLE FEATURE SECTION</h6>
                <h1 class="hr-after"><strong>Innover au quotidien</strong>,imaginer demain
                    et concevoir des supports</h1>
                <p class="lead">Create a website that you are <span class="f-green">gonna be proud</span> of. Be it Business &amp; much more.</p>
                <p>Stratégie de communication web, Audit ergonomique, UX Design, Prototypage ergonomique...</p>

            </div>
            <!-- /.col 6 -->
            <div class="col-sm-6 single-feature-image">
                <img src="http://lorempixel.com/330/450" alt="" class="img-responsive">
            </div>
            <!-- /.col 6 -->
        </div>
    </section>

    <section class="space bg-light">
        <div class="container">
            <div class="row features">
                <div class="col-sm-4 icon-item">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                    <div class="item-content">
                        <h3>Service modul</h3>
                        <p>Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat.</p>
                        <a href="#" class="btn btn-default btn-radius btn-lg">Read more</a>
                    </div>
                    <!--/.icon item content -->
                </div>
                <div class="col-sm-4 icon-item">
                    <i class="glyphicon glyphicon-gift"></i>
                    <div class="item-content">
                        <h3>Service modul</h3>
                        <p>Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat.</p>
                        <a href="#" class="btn btn-default btn-radius btn-lg">Read more</a>
                    </div>
                    <!--/.icon item content -->
                </div>
                <div class="col-sm-4 icon-item">
                    <i class="glyphicon glyphicon-qrcode"></i>
                    <div class="item-content">
                        <h3>Service modul</h3>
                        <p>Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat.</p>
                        <a href="#" class="btn btn-default btn-radius btn-lg">Read more</a>
                    </div>
                    <!--/.icon item content -->
                </div>
            </div>
            <!-- .row -->
        </div>
    </section>

    <section id="about" class="space-pb-0">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <h5>WHAT CAN I DO WITH PAMA?</h5>
                    <h1>Take a Second and Explore it !</h1>
                    <p class="lead">We proudly present you Pama,clean landing page which is perfect for your product website.</p>
                </div>
            </div>
            <!-- start: Tabbed Nav -->
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!-- Nav tabs -->
                    <ul id="tabnav" class="clearfix tabs-nav list-unstyled">
                        <li class="active branding clearfix">
                            <a href="#tab1" data-toggle="tab">
                                <span>Our Team</span>
                            </a>
                        </li>
                        <li class="design clearfix">
                            <a href="#tab2" data-toggle="tab">
                                <span>Our History</span>
                            </a>
                        </li>
                        <li class="dev clearfix">
                            <a href="#tab3" data-toggle="tab">
                                <span>Interesting</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- .row -->
            <div class="row">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="col-sm-12 animated fadeIn">
                            <img src="http://lorempixel.com/1600/450" alt="" class="img-responsive taggd">
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="col-sm-8 col-sm-offset-2 animated fadeIn img-container pad-b-90">

                            <div class="video-container">
                                <iframe src="//player.vimeo.com/video/25708134" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                            <!-- /.video -->
                        </div>
                    </div>
                    <!-- /.tab 2 -->
                    <!-- .tab pane -->
                    <div class="tab-pane" id="tab3">
                        <div class="col-sm-6 animated fadeIn pad-b-90">
                            <img src="images/browser_2.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-sm-6">
                            <h3 class="hr-after">
                                Create website that doesn't look like template.
                            </h3>
                            <p class="lead">Create a website that you are <span class="f-green">gonna be proud</span> of. Be it Business &amp; much more.</p>
                            <div class="divide30"></div>
                            <ul class="expertise list-unstyled" style="width:60%;">
                                <li>Identité visuelle</li>
                                <li>Direction artistique</li>
                                <li>UI/UX Design</li>
                            </ul>
                            <p><a href="#" class="btn btnGreen btn-lg btn-radius">Contact for Quote</a></p>
                        </div>
                    </div>
                    <!-- /.tab 3 -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#tabbed section -->

    <section id="screenshots" class="space bg-dark pattern01">
        <div class="container">
            <div class="title-section text-center">
                <h1><span class="f-green"><strong>Application</strong></span> Screenshots</h1>
                <p class="lead">Proin malesuada justo sed lobortis dapibus.</p>
            </div>
            <!-- .title-section -->
            <div id="shoots" class="owl-carousel owl-theme">
                <div class="item">
                    <a class="lightbox" href="images/1.jpg">
                        <img src="http://lorempixel.com/300/450" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a class="lightbox" href="http://lorempixel.com/300/450">
                        <img src="http://lorempixel.com/300/450" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a class="lightbox" href="http://lorempixel.com/300/450">
                        <img src="http://lorempixel.com/300/450" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a class="lightbox" href="http://lorempixel.com/300/450">
                        <img src="http://lorempixel.com/300/450" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a class="lightbox" href="http://lorempixel.com/300/450">
                        <img src="http://lorempixel.com/300/450" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a class="lightbox" href="http://lorempixel.com/300/450">
                        <img src="http://lorempixel.com/300/450" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a class="lightbox" href="http://lorempixel.com/300/450">
                        <img src="http://lorempixel.com/300/450" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a class="lightbox" href="http://lorempixel.com/300/450">
                        <img src="http://lorempixel.com/300/450" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a class="lightbox" href="http://lorempixel.com/300/450">
                        <img src="http://lorempixel.com/300/450" alt="" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="pricing" class="space">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="hr-after"><strong>Innover au quotidien</strong>, imaginer demain
                        et concevoir des supports</h1>
                    <p class="lead">Create a website that you are gonna be proud of. Be it Business &amp; much more.</p>
                </div>
            </div>
            <div class="row price-section">
                <div class="col-sm-4">
                    <div class="row">
                        <div class='silver'>
                            <h1>Silver Plan</h1>
                            <h2>Basic No-Frills Package</h2>
                            <div class='price'>$10/m</div>
                            <p>Number of Courses</p>
                            <span>4</span>
                            <p>Downloads</p>
                            <span>3</span>
                            <p>Forums</p>
                            <span>Courses Only</span>
                            <button>Select Plan</button>
                        </div>
                    </div>
                </div>
                <!-- .col 4 -->
                <div class="divide70 visible-xs"></div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class='gold'>
                            <h1>Gold Plan</h1>
                            <h2>The Standard Package</h2>
                            <div class='price'>$25/m</div>
                            <p>Number of Courses</p>
                            <span>10</span>
                            <p>Downloads</p>
                            <span>Unlimited</span>
                            <p>Forums</p>
                            <span>Courses Only</span>
                            <button>Select Plan</button>
                        </div>
                    </div>
                </div>
                <!-- .col 4 -->
                <div class="col-sm-4">
                    <div class="row">
                        <div class='plat'>
                            <h1>Platinum Plan</h1>
                            <h2>Elite! Enough Said!</h2>
                            <div class='price'>$45/m</div>
                            <p>Number of Courses</p>
                            <span>Unlimited</span>
                            <p>Downloads</p>
                            <span>Unlimited</span>
                            <p>Forums</p>
                            <span>ALL</span>
                            <button>Select Plan</button>
                        </div>
                    </div>
                </div>
                <!-- .col 4 -->
            </div>
            <!--.row -->
            <div class="account startup text-center">
                <b>Enterprise:</b> Call us (123) 987 - 985412
            </div>
        </div>
    </section>

    <section id="features-list" class="space bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="hr-after f-white"><strong>Innover au <span class="f-green">quotidien</span></strong>, imaginer demain
                        et concevoir des supports</h1>
                    <p class="lead">Create a website that you are gonna be proud of. Be it Business &amp; much more.</p>
                </div>
            </div>
            <div class="divide50"></div>
            <div class="row features">
                <div class="col-sm-4 icon-item">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                    <div class="item-content">
                        <h3 class="f-white">Service modul</h3>
                        <p>Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat.</p>
                    </div>
                    <!--/.icon item content -->
                </div>
                <div class="col-sm-4 icon-item">
                    <i class="glyphicon glyphicon-gift"></i>
                    <div class="item-content">
                        <h3 class="f-white">Service modul</h3>
                        <p>Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat.</p>
                    </div>
                    <!--/.icon item content -->
                </div>
                <div class="col-sm-4 icon-item">
                    <i class="glyphicon glyphicon-qrcode"></i>
                    <div class="item-content">
                        <h3 class="f-white">Service modul</h3>
                        <p>Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat.</p>
                    </div>
                    <!--/.icon item content -->
                </div>
            </div>
            <!-- .row -->
            <div class="divide30"></div>
            <div class="row features">
                <div class="col-sm-4 icon-item">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                    <div class="item-content">
                        <h3 class="f-white">Service modul</h3>
                        <p>Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat.</p>
                    </div>
                    <!--/.icon item content -->
                </div>
                <div class="col-sm-4 icon-item">
                    <i class="glyphicon glyphicon-gift"></i>
                    <div class="item-content">
                        <h3 class="f-white">Service modul</h3>
                        <p>Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat.</p>
                    </div>
                    <!--/.icon item content -->
                </div>
                <div class="col-sm-4 icon-item">
                    <i class="bg-red glyphicon glyphicon-qrcode"></i>
                    <div class="item-content">
                        <h3 class="f-white">Service modul</h3>
                        <p>Nulla ornare tortor quis rhoncus vulputate. Vivamus a enim vel erat.</p>
                    </div>
                    <!--/.icon item content -->
                </div>
            </div>
            <!-- .row -->
        </div>
    </section>

    <section id="clients" class="pad-t-90">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1>You're in <strong>good company</strong></h1>
                    <p class="lead">We proudly present you Softr, very clean corporate theme which is perfect for company websites.</p>
                </div>
            </div>
            <!-- /.row -->
            <ul class="row hidden-sm clients">
                <li class="banner-wrap col-sm-2 col-sm-offset-1 col-md-offset-1 brd-btm">
                    <figure class="featured-thumbnail">
                        <a href="#" data-toggle="tooltip" title="" data-original-title="Wohoooo I'm tooltip">
                            <img alt="" src="http://lorempixel.com/200/200" title="" class="img-responsive">
                        </a>
                    </figure>
                </li>
                <!-- .banner-wrap (end) -->
                <li class="banner-wrap col-sm-2 brd-btm">
                    <figure class="featured-thumbnail">
                        <a href="#" title="">
                            <img alt="" src="http://lorempixel.com/200/200" title="" class="img-responsive">
                        </a>
                    </figure>
                </li>
                <!-- .banner-wrap (end) -->
                <li class="banner-wrap col-sm-2 brd-btm">
                    <figure class="featured-thumbnail">
                        <a href="#" data-toggle="tooltip" title="" data-original-title="Wohoooo I'm tooltip">
                            <img alt="" src="http://lorempixel.com/200/200" title="" class="img-responsive">
                        </a>
                    </figure>
                </li>
                <!-- .banner-wrap (end) -->
                <li class="banner-wrap col-sm-2 brd-btm">
                    <figure class="featured-thumbnail">
                        <a href="#" title="">
                            <img alt="" src="http://lorempixel.com/200/200" title="" class="img-responsive">
                        </a>
                    </figure>
                </li>
                <!-- .banner-wrap (end) -->
                <li class="banner-wrap col-sm-2 brd-btm">
                    <figure class="featured-thumbnail">
                        <a href="#" data-toggle="tooltip" title="" data-original-title="Wohoooo I'm tooltip">
                            <img alt="" src="http://lorempixel.com/200/200" title="" class="img-responsive">
                        </a>
                    </figure>
                </li>
                <!-- .banner-wrap (end) -->
            </ul>
            <div class="row">
                <div id="quote-carousel" class="owl-carousel owl-theme quote-theme">
                    <div class="item">
                        <div class="item-quote aligner">
                            <div class="col-sm-5 aligner-item--bottom">
                                <img src="http://lorempixel.com/700/600" alt="" class="img-responsive">
                            </div>
                            <div class="col-sm-7">
                                <blockquote class="quote-text aligner-item">
                                    <a href="#">Nothing comes from doing nothing.This Saturday, do something just for yourself.Very clean corporate theme which is perfect for company websites.</a>
                                </blockquote>
                                <p class="quote-author">
                                    <a href="#">
                                        <strong>John Doe</strong>@#johdoe</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.item quote -->
                    </div>
                    <!-- /.owl item -->
                    <div class="item">
                        <div class="item-quote aligner">
                            <div class="col-sm-5 aligner-item--bottom">
                                <img src="http://lorempixel.com/700/600" alt="" class="img-responsive">
                            </div>
                            <div class="col-sm-7">
                                <blockquote class="quote-text aligner-item">
                                    <a href="#">@Nothing comes from doing nothing.This Saturday, do something just for yourself.</a>
                                </blockquote>
                                <p class="quote-author">
                                    <a href="#">
                                        <strong>John Doe</strong>@#johdoe</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.item quote -->
                    </div>
                    <!-- /.owl item -->
                </div>
                <!-- /.quote carousel -->
            </div>
        </div>
    </section>
    <section id="journal" class="space bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12 col-md-4">
                    <h2 class="hr-after f-white">Un webdesigner avec un esprit développeur, créant et produisant des sites web simples et esthétiquement raffinés.</h2>
                    <ul class="list-inline">
                        <li>WEB</li>
                        <li>• UI/UX</li>
                        <li>• WORDPRESS</li>
                    </ul>
                </div>
                <!-- / left side -->
                <div class="col-sm-7 col-sm-offset-1">
                    <div class="row post-row">
                        <div class="col-sm-3">
                            <aside class="post-date">December 1, 14</aside>
                        </div>
                        <div class="excerpt col-sm-9">
                            <h3 class="post-title">
                                <a href="blog-single.html" title="#">Pro id velit persius consequuntur, no usu summo</a>
                            </h3>
                            <p>Cras dapibus. Vivamus elementum semper nisi.</p>
                        </div>
                    </div>
                    <!-- /.post row -->
                    <div class="row post-row">
                        <div class="col-sm-3">
                            <aside class="post-date">December 21, 14</aside>
                        </div>
                        <div class="excerpt col-sm-9">
                            <h3 class="post-title">
                                <a href="blog-single.html" title="#">Nec malis legimus inciderint ut, alterum interesset</a>
                            </h3>
                            <p>Cras dapibus. Vivamus elementum semper nisi.</p>
                        </div>
                    </div>
                    <!-- /.post row -->
                    <div class="row post-row">
                        <div class="col-sm-3">
                            <aside class="post-date">December 11, 14</aside>
                        </div>
                        <div class="excerpt col-sm-9">
                            <h3 class="post-title">
                                <a href="blog_single.html" title="#">Creating opportunities</a>
                            </h3>
                            <p>Cras dapibus. Vivamus elementum semper nisi.</p>
                        </div>
                    </div>
                    <!-- /.post row -->

                </div>
                <!-- right side -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

</div>
<!-- /.wrapper -->

<footer id="footer" class="bg-dark">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 f-left">
                    <h3>Partner with us</h3>
                    <p>Sit amet, consectetuer adipiscing elit, sed diam nonummy.
                    </p>
                </div>
                <div class="col-sm-4 cta text-center">
                    <a class="btn btnGreen btn-contact" data-toggle="collapse" data-target="#contact">Open contact form</a>
                </div>

            </div>
        </div>
    </div>
    <section class="pad-t-50 pad-b-100 collapse bg-dark space" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3 class="small-heading-i">Get a Quote or Contact Us</h3>
                    <h2 class="big-heading">Email us if you have any question</h2>
                </div>
            </div>
            <div id="message"></div>
            <div class="divide30"></div>
            <div class="row">
                <form method="post" action="contact.php" name="contactform" id="contactform">
                    <div class="col-sm-6">
                        <fieldset>
                            <input name="name" type="text" id="name" size="30" value="" placeholder="Name" />
                            <br />
                            <input name="email" type="text" id="email" size="30" value="" placeholder="Email" />
                            <br />
                            <input name="phone" type="text" id="phone" size="30" value="" placeholder="Phone" />
                            <br />
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset>
                            <textarea name="comments" cols="40" rows="8" id="comments" placeholder="Message"></textarea>
                            <button type="submit" class="btn btnGreen" id="submit" value="Submit">Send Message</button>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="btm-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <ul class="list-inline list-unstyled btm-links">
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Clients</a>
                        </li>
                        <li>
                            <a href="#">Projects</a>
                        </li>
                    </ul>
                </div>
                <!-- .col 8 -->
                <div class="col-sm-4 hidden-xs">
                    <ul class="socials list-unstyled pull-right">
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Youtube">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- .col-4 -->
            </div>
        </div>
    </div>
</footer>
<!--===== Script Source ========-->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<!-- Magnific Popup core JS file -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>
